<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="user">

	<insert id="insertUser" parameterType="user">
		INSERT /* insertUser by UserControllerImpl.insertUser */
		INTO USERTBL
		(USER_ID, USER_PASSWORD, USER_NAME, USER_GENDER, INSERT_DATE)
		VALUES (
		#{userId},
		#{userPassword},
		#{userName},
		#{userGender},
		NOW())
	</insert>
	
	<select id="selectLogin" parameterType="user" resultType="user">
        SELECT 
        USER_ID AS userId,
        USER_PASSWORD AS userPassword,
        USER_NAME AS userName,
        USER_GENDER AS userGender,
        INSERT_DATE AS insertDate
        FROM USERTBL
        WHERE USER_ID = #{userId}
	</select>
	
</mapper>